body{
    margin: 0;
    background: linear-gradient(to right,white, hwb(0 100% 0% / 0.141));
}
.calculator{
    display: grid;
    margin-top: 5rem;
    grid-template-columns: repeat(4, 10rem);
    justify-content: center;
    grid-template-rows: minmax(9rem, auto) repeat(5, 8rem);
}
.span-two{
    grid-column: span 2;
}
.output{
    grid-column: 1 / -1;
    background-color: grey;
    display: flex;
    flex-direction:column;
    align-items: flex-end;
    justify-content: space-around;
    padding: .85rem;
    word-wrap: break-word;
    word-break: break-all;
    
}
.output .pre-operand{
    color: white;
    font-size: 2rem;
}
.output .curr-operand{
    color: white;
    font-size: 3rem;
}

.calculator>button{
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid whitesmoke;
    outline:none;
    
}
.calculator>button:hover,
.calculator>button:focus{
    background-color: white;
}
.color-change{
    background-color: orange;
}